.flex-container {
    display: flex;
}

.botoes {
    margin-left: 50px;
    letter-spacing: 10px;
}

body {
    background-image: url("../img/ic\ \(1\).jfif");
    background-repeat: no-repeat;
    background-color: whitesmoke;
}

.right {
    margin-left: 6%;
}

div .header{
    display: flex;
}

.botoes2 {
    margin-left: 60px;
    letter-spacing: 10px;
}



@media (max-width:1170px){
    .flex-container {
        display: block;
        align-items: center;
        justify-content: center;
    }
}